---
// eslint-disable-next-line import/no-unresolved
import "@/components/blocks/MuxPlayer/MuxPlayer.css";
import { Box } from "@/components/_base/Box/Box";
import { EmailLink } from "@/components/_base/EmailLink/EmailLink";
import { TbChevronsDown } from "react-icons/tb";
import { InternalLink } from "@/components/_base/InternalLink/InternalLink";
import { Prose } from "@/components/_base/Prose/Prose";
---

<Box
  as="main"
  className="relative mb-1 min-h-[calc(100vh-(calc(16px+(19-16)*((100vw-320px)/(1934-320))))*4.5)] overflow-hidden"
>
  <Box
    as="section"
    className="absolute left-1/2 top-1/2 flex h-full w-full -translate-x-1/2 -translate-y-1/2 items-center justify-center bg-content-bkg p-1 tracking-tight md:p-2"
  >
    <Box
      as="section"
      className="mx-auto max-w-prose -translate-y-1.5 md:max-w-[calc(44ch+65ch+2rem)] "
    >
      <Prose as="h1" className="text-xl leading-tight">
        Hello there! I am Rob Easthope, a front end developer working on the
        web. <EmailLink
          emailAddress="hello@robeasthope.com"
          className="text-inherit">Get in touch</EmailLink
        >. Or learn a little <InternalLink
          href="#about"
          className="text-inherit">about me</InternalLink
        > first.
      </Prose>
    </Box>
  </Box>

  <Box
    as="div"
    className="absolute bottom-1 left-1/2 flex w-4 -translate-x-1/2  justify-center "
  >
    <InternalLink href="#about">
      <span class="sr-only">Scroll down</span>
      <TbChevronsDown className="text-lg" />
    </InternalLink>
  </Box>
</Box>
