---
import Root from "@/layouts/Root.astro";
import StandardPage from "@/layouts/StandardPage.astro";
---

<Root title="Rob Easthope">
  <StandardPage>
    <main>
      <h1>404</h1>
    </main>
  </StandardPage>
</Root>
