---
import Base from "@/layouts/Base.astro";
import { Box } from "@/components/ui/Box/Box";
import WorkIndex from "@/components/blocks/WorkIndex/WorkIndex.astro";
---

<Base title="Rob Easthope">
  <main>
    <Box as="section" className="mx-auto max-w-prose">
      <h1>Landing</h1>
      <p>This is the landing section</p>
    </Box>
    <Box as="section" className="mx-auto max-w-prose">
      <h1>About</h1>
      <p>This is the about section</p>
    </Box>
    <Box as="section" className="mx-auto max-w-prose">
      <h1>Work</h1>
      <p>This is the work section</p>
      <WorkIndex />
    </Box>
    <Box as="section" className="mx-auto max-w-prose">
      <h1>Contact</h1>
      <p>This is the contact section</p>
    </Box>
  </main>
</Base>
