---
import Layout from '@/layouts/Layout.astro';
import { About } from '@/content-blocks/About/About';
import { Work } from '@/content-blocks/Work/Work';
import { Contact } from '@/content-blocks/Contact/Contact';
---

<Layout title="Rob Easthope">
	<main>
		<h1>Hello world</h1>
		<About />
		<Work />
		<Contact />
	</main>
</Layout>
