---
import Base from '@/layouts/Base.astro';
import { Landing } from '@/content/index-blocks/Landing/Landing';
import { About } from '@/content/index-blocks/About/About';
import { Work } from '@/content/index-blocks/Work/Work';
import { Contact } from '@/content/index-blocks/Contact/Contact';
---

<Base title="Rob Easthope">
	<main>
		<Landing />
		<About />
		<Work />
		<Contact />
	</main>
</Base>
@/index-block/Landing/Landing@/index-block/About/About@/index-block/Work/Work@/index-block/Contact/Contact