---
import Base from '@/layouts/Base.astro';
import { About } from '@/content-blocks/About/About';
import { Work } from '@/content-blocks/Work/Work';
import { Contact } from '@/content-blocks/Contact/Contact';
import { Box } from '@/components/ui/Box/Box';
---

<Base title="Rob Easthope">
	<main>
		<Box as="div">
		<h1>Hello world</h1></Box>
		<About />
		<Work />
		<Contact />
	</main>
</Base>
