---
import Base from '@/layouts/Base.astro';
import { Landing } from '@/content-blocks/Landing/Landing';
import { About } from '@/content-blocks/About/About';
import { Work } from '@/content-blocks/Work/Work';
import { Contact } from '@/content-blocks/Contact/Contact';
---

<Base title="Rob Easthope">
	<main>
		<Landing />
		<About />
		<Work />
		<Contact />
	</main>
</Base>
