---
import WorkIndex from "@/components/blocks/WorkIndex/WorkIndex.astro";
import { Box } from "@/components/ui/Box/Box";
---

<Box id="work" as="section" className="w-full px-1">
  <Box as="section" className="mx-auto max-w-prose">
    <h1>Work</h1>
    <p>This is the work section</p>
    <WorkIndex />
  </Box>
</Box>
