---
// eslint-disable-next-line import/no-unresolved
import MuxPlayer from "@mux/mux-player-react/lazy";
import "@/components/blocks/MuxPlayer/MuxPlayer.css";
import { Box } from "@/components/ui/Box/Box";
import { Type } from "@/components/ui/Type/Type";
import { EmailLink } from "@/components/ui/EmailLink/EmailLink";
import HeaderLogo from "@/components/navigation/Header/components/HeaderLogo/HeaderLogo.astro";

import { TbArrowDownRhombus } from "react-icons/tb";
---

<Box
  as="main"
  className="relative mb-1 min-h-[calc(100vh-(calc(16px+(19-16)*((100vw-320px)/(1934-320))))*2)] bg-off-white"
>
  <MuxPlayer
    playbackId="gznQLOy00BLhHn2UJEYM8GmLe46L02kC02T"
    metadata={{
      video_id: "Yytp7lXoNk1ndRc8a01TK3nbn02XdNmhq7",
      video_title: "Flight off Great End",
      viewer_user_id: "user-id-007",
    }}
    streamType="on-demand"
    playbackRate={0.5}
    loop
    autoPlay
    muted
    client:load
  />

  <Box
    as="section"
    className="absolute left-1/2 top-1/2 flex h-full w-full -translate-x-1/2 -translate-y-1/2 items-center justify-center p-1 tracking-tight md:p-2"
  >
    <Box
      as="section"
      className="mx-auto max-w-prose md:max-w-[calc(44ch+65ch+2rem)]"
    >
      <Type as="h1" className="text-3xl leading-tight text-white">
        Hello there!
        <br />I am Rob Easthope, a front end developer working on the web.
      </Type>

      <Type as="p" className="prose mt-1 text-lg text-white">
        <EmailLink emailAddress="hello@robeasthope.com" className="text-white"
          >Contact me</EmailLink
        > or learn a little <a href="#about" class="text-white">about me</a> first.
      </Type>
    </Box>
  </Box>

  <Box as="div" className="translate-y-1 md:translate-y-1">
    <HeaderLogo />
  </Box>
  <Box
    as="div"
    className="absolute bottom-0 flex w-full -translate-y-1 justify-center md:-translate-y-1"
  >
    <a href="#about" class="text-white">
      <span class="sr-only">Scroll down</span>
      <TbArrowDownRhombus className="text-xl text-white" /></a
    >
  </Box>
</Box>
